<div class="row">
    <h1 class="section-title wow fadeInLeft animated" data-wow-delay=".6s">What My<br>Client <br><span>Says</span></h1>
    <div id="testimonial-carousel" class="carousel slide wow fadeInUp animated" data-ride="carousel" data-wow-delay="1.2s">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#testimonial-carousel" data-slide-to="1"></li>
            <li data-target="#testimonial-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <blockquote>
                    <div class="commant">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <div class="claint">
                                <img src="~/Content/imgs/testimonial/img1.jpg" alt="">
                            </div>
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="info">
                                <p>TLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                                <h4>ANAMOUL ROUF</h4>
                                    <h5>CEO, CLOUDBEE</h5>
                            </div>
                        </div>
                    </div>
                </blockquote>
            </div>

            <div class="item">
                <blockquote>
                    <div class="commant">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <div class="claint">
                                <img src="~/Content/imgs/testimonial/img2.jpg" alt="">
                            </div>
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="info">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                                <h4>IMRAN KHAN</h4>
                                <h5>FOUNDER, WPBEAN</h5>
                            </div>
                        </div>
                    </div>
                </blockquote>
            </div>
            <div class="item">
                <blockquote>
                    <div class="commant">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <div class="claint">
                                <img src="~/Content/imgs/testimonial/img3.jpg" alt="">
                            </div>
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <div class="info">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                                <h4>TANVIR AHMED</h4>
                                <h5>CONTRIBUTOR, GRAYGRIDS</h5>
                            </div>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</div>
