<div class="row">
    <h1 class="section-title wow fadeInLeft animated" data-wow-delay=".6s">My<br>Homey<br><span>Blog</span></h1>
    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <div class="blog-large wow fadeInLeft animated" data-wow-delay="1.2s">
            <img src="~/Content/imgs/blog/img1.jpg" alt="">
            <div class="large">
                <a class="title" href="#">
                    This is Photoshop's vers ion of Lorem Ipsum. Pro in gravida
                </a>
                <p>Nibh vel velit auc tor aliq uet. Aenean sollicitu din, lorem quis biben...</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInRight animated" data-wow-delay="1.6s">
        <div class="blog-item">
            <img src="~/Content/imgs/blog/img2.jpg" alt="">
            <div class="content">
                <a class="title" href="#">
                    This is Photoshop's vers ion of Lorem Ipsum. Pro in gravida
                </a>
                <p>Nibh vel velit auc tor aliq uet. Aenean sollicitu din, lorem quis biben...</p>
            </div>
        </div>
        <div class="blog-item">
            <img src="~/Content/imgs/blog/img3.jpg" alt="">
            <div class="content">
                <a class="title" href="#">
                    This is Photoshop's vers ion of Lorem Ipsum. Pro in gravida
                </a>
                <p>Nibh vel velit auc tor aliq uet. Aenean sollicitu din, lorem quis biben...</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInRight animated" data-wow-delay="1.8s">
        <div class="blog-item">
            <img src="~/Content/imgs/blog/img3.jpg" alt="">
            <div class="content">
                <a class="title" href="#">
                    This is Photoshop's vers ion of Lorem Ipsum. Pro in gravida
                </a>
                <p>Nibh vel velit auc tor aliq uet. Aenean sollicitu din, lorem quis biben...</p>
            </div>
        </div>
        <div class="blog-item">
            <img src="~/Content/imgs/blog/img2.jpg" alt="">
            <div class="content">
                <a class="title" href="#">
                    This is Photoshop's vers ion of Lorem Ipsum. Pro in gravida
                </a>
                <p>Nibh vel velit auc tor aliq uet. Aenean sollicitu din, lorem quis biben...</p>
            </div>
        </div>
    </div>
</div>
