@model GeekWebAppProject.Models.WorkModel
    @{
        var work = Model;
    }

<div class="row">
    <h1 class="section-title wow fadeInLeft animated" data-wow-delay=".6s">Some of <br>My <br><span>Works</span></h1>
    <div class="col-md-7 col-lg-7 grid-left wow fadeInLeft animated" data-wow-delay="1.2s">
        <div class="large">
            <img src="~/Content/imgs/work/@work.ImagePath" alt="">
            <div class="overlay">
                <a href="~/Content/imgs/work/@work.ImagePath" data-lightbox="img1"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="grid-box">
            <img src="/Content/imgs/work/@work.ImagePath" alt="">
            <div class="overlay">
                <a href="/Content/imgs/work/@work.ImagePath" data-lightbox="img2"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="grid-box">
            <img src="~/Content/imgs/work/@work.ImagePath" alt="">
            <div class="overlay">
                <a href="~/Content/imgs/work/@work.ImagePath" data-lightbox="img3"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-5 grid-right wow fadeInRight animated" data-wow-delay="1.6s">
        <div class="grid-box large">
            <img src="~/Content/imgs/work/@work.ImagePath" alt="">
            <div class="overlay">
                <a href="~/Content/imgs/work/@work.ImagePath" data-lightbox="img4"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="grid-box">
            <img src="/Content/imgs/work/@work.ImagePath" alt="">
            <div class="overlay">
                <a href="/Content/imgs/work/@work.ImagePath" data-lightbox="img5"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="browse-box">
            <div class="more">
                <a href="#"><i class="fa fa-arrow-circle-right"></i>@work.Text</a>
            </div>
        </div>
    </div>
</div>
