

<div class="row">
    <h1 class="section-title wow fadeInLeft animated" data-wow-delay=".6s">My<br>Passionate<br> <span>Skills</span></h1>
    <div class="col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay="1.2s">
        <div class="fact-block">
            <div class="circle one">
                <div class="count-info">
                    <h3><span class="counter">70%</span></h3>
                    <h4>SQL</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay="1.2s">
        <div class="fact-block">
            <div class="circle two">
                <div class="count-info">
                    <h3><span class="counter">80%</span></h3>
                    <h4>JavaScript</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay="1.2s">
        <div class="fact-block">
            <div class="circle three">
                <div class="count-info">
                    <h3><span class="counter">50%</span></h3>
                    <h4>HTML</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay="1.2s">
        <div class="fact-block">
            <div class="circle four">
                <div class="count-info">
                    <h3><span class="counter">90%</span></h3>
                    <h4>C#</h4>
                </div>
            </div>
        </div>
    </div>
</div>

