@model GeekWebAppProject.Data.ContactMessage
@*<div class="col-sm-6 col-md-6 wow fadeInLeft animated" data-wow-delay="1.4s">
        <h1 class="section-title wow fadeInLeft animated" data-wow-delay=".6s"><span>Hire</span><br>or Contact <br> Me</h1>
        <form action="" name="contact">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" name="name" class="form-control" placeholder="Your name">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                <input type="email" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fire"></i></span>
                <input type="text" name="subject" class="form-control" placeholder="Subject">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-comments"></i></span>
                <textarea name="message" class="form-control large" placeholder="Massage"></textarea>
            </div>
            <button type="submit" class="btn btn-green"><i class="fa fa-envelope-o"></i>Send</button>
        </form>
    </div>*@


@using (Html.BeginForm("Index", "Contacts", FormMethod.Post, new { @class = "col-sm-6 col-md-6 wow fadeInLeft animated" }))
{
    <h1 class="section-title wow fadeInLeft animated" data-wow-delay=".6s"><span>Hire</span><br>or Contact <br> Me</h1>

    <form action="" name="contact">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            @*<input type="text" name="name" class="form-control" placeholder="Your name">*@
            @Html.TextBoxFor(q => q.Name, new { @class = "form-control", @placeholder = "Your name" })
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
            <input type="email" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-fire"></i></span>
            @*<input type="text" name="subject" class="form-control" placeholder="Subject">*@
            @Html.TextBoxFor(q => q.Subject, new { @class = "form-control", @placeholder = "Subject" })
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-comments"></i></span>
            @*<textarea name="message" class="form-control large" placeholder="Massage"></textarea>*@
            @Html.TextAreaFor(q => q.Text, new { @class = "form-control large", @placeholder = "Massage" })
        </div>
        <button type="submit" class="btn btn-green"><i class="fa fa-envelope-o"></i>Send</button>
    </form>
}

@section ValidationSection
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}
